@import "../node_modules/bootswatch/dist/lumen/bootstrap.min.css";

body {
  padding-top: 50px;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: gray;
}

.sticky-top {
  top: 100px;
}
