<div *ngIf="!isLoading" class="card card-body bg-light">
  <form #f="ngForm" (ngSubmit)="predictPrice()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="manufacturer" class="form-label mt-4">Виробник</label>
          <input
            #manufacturer="ngModel"
            id="manufacturer"
            name="manufacturer"
            [(ngModel)]="car.manufacturer"
            [ngbTypeahead]="searchManufacturer$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Виробник: {{ car.manufacturer }}</pre>
          <div
            class="alert alert-danger"
            *ngIf="manufacturer.touched && manufacturer.invalid"
          >
            Виробник є обов'язковим.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="model" class="form-label mt-4">Модель</label>
          <input
            #model="ngModel"
            id="model"
            name="model"
            [(ngModel)]="car.model"
            [ngbTypeahead]="searchModel$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Модель: {{ car.model }}</pre>
          <div
            class="alert alert-danger"
            *ngIf="model.touched && model.invalid"
          >
            Модель є обов'язковою.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="body" class="form-label mt-4">Тип кузова</label>
          <input
            #body="ngModel"
            id="body"
            name="body"
            [(ngModel)]="car.body"
            [ngbTypeahead]="searchBody$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Тип кузова: {{ car.body }}</pre>
          <div class="alert alert-danger" *ngIf="body.touched && body.invalid">
            Тип кузова є обов'язковим.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="drive" class="form-label mt-4">Тип приводу</label>
          <input
            #drive="ngModel"
            id="drive"
            name="drive"
            [(ngModel)]="car.drive"
            [ngbTypeahead]="searchDrive$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Тип приводу: {{ car.drive }}</pre>
          <div
            class="alert alert-danger"
            *ngIf="drive.touched && drive.invalid"
          >
            Тип приводу є обов'язковим.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="transmission" class="form-label mt-4"
            >Тип трансмісії</label
          >
          <input
            #transmission="ngModel"
            id="transmission"
            name="transmission"
            [(ngModel)]="car.transmission"
            [ngbTypeahead]="searchTransmission$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Тип трансмісії: {{ car.transmission }}</pre>
          <div
            class="alert alert-danger"
            *ngIf="transmission.touched && transmission.invalid"
          >
            Тип трансмісії є обов'язковим.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fuel" class="form-label mt-4">Тип палива</label>
          <input
            #fuel="ngModel"
            id="fuel"
            name="fuel"
            [(ngModel)]="car.fuel"
            [ngbTypeahead]="searchFuel$"
            [editable]="false"
            type="text"
            class="form-control"
            required
          />
          <hr />
          <pre>Тип палива: {{ car.fuel }}</pre>
          <div class="alert alert-danger" *ngIf="fuel.touched && fuel.invalid">
            Тип палива є обов'язковим.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="engineCapacity" class="form-label mt-4"
            >Об'єм двигуна</label
          >
          <input
            #engineCapacity="ngModel"
            id="engineCapacity"
            name="engineCapacity"
            [(ngModel)]="car.engineCapacity"
            type="number"
            class="form-control"
            placeholder="Введіть об'єм двигуна (в літрах) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="engineCapacity.touched && engineCapacity.invalid"
        >
          <div *ngIf="engineCapacity.errors.required">
            Об'єм двигуна є обов'язковим.
          </div>
          <div *ngIf="engineCapacity.errors.min">
            Об'єм двигуна не може бути від'ємним.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="horsepower" class="form-label mt-4">Кінська сила</label>
          <input
            #horsepower="ngModel"
            id="horsepower"
            name="horsepower"
            [(ngModel)]="car.horsepower"
            type="number"
            class="form-control"
            placeholder="Введіть потужність (в кінських силах) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="horsepower.touched && horsepower.invalid"
        >
          <div *ngIf="horsepower.errors.required">
            Кінська сила є обов'язковою.
          </div>
          <div *ngIf="horsepower.errors.min">
            Кінська сила не може бути від'ємною.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="mileage" class="form-label mt-4">Пробіг</label>
          <input
            #mileage="ngModel"
            id="mileage"
            name="mileage"
            [(ngModel)]="car.mileage"
            type="number"
            class="form-control"
            placeholder="Введіть пробіг (в тис. км) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="mileage.touched && mileage.invalid"
        >
          <div *ngIf="mileage.errors.required">Пробіг є обов'язковим.</div>
          <div *ngIf="mileage.errors.min">Пробіг не може бути від'ємним.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="manufactureYear" class="form-label mt-4"
            >Рік випуску</label
          >
          <input
            #manufactureYear="ngModel"
            id="manufactureYear"
            name="manufactureYear"
            [(ngModel)]="car.manufactureYear"
            type="number"
            class="form-control"
            placeholder="Введіть потужність (в кінських силах) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="manufactureYear.touched && manufactureYear.invalid"
        >
          <div *ngIf="manufactureYear.errors.required">
            Рік випуску є обов'язковим.
          </div>
          <div *ngIf="manufactureYear.errors.min">
            Рік не може бути від'ємним.
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <div style="padding-top: 50px" class="text-center">
            <h2>Ціна: {{ price | currency }}</h2>
          </div>
        </div>
      </div>
    </div>
    <br />
    <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
      Встановити ціну
    </button>
  </form>
</div>
