<div class="row">
  <div class="col-md-6">
    <div *ngIf="!isLoading" class="card card-body bg-light">
      <form #f="ngForm" (ngSubmit)="predictPrice()">
        <div class="form-group">
          <label for="producer" class="form-label">Виробник</label>
          <input
            id="producer"
            name="producer"
            [(ngModel)]="car.producer"
            [ngbTypeahead]="searchProducer$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Виробник: {{ car.producer }}</pre>
        </div>
        <div class="form-group">
          <label for="model" class="form-label mt-4">Модель</label>
          <input
            id="model"
            name="model"
            [(ngModel)]="car.model"
            [ngbTypeahead]="searchModel$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Модель: {{ car.model }}</pre>
        </div>
        <div class="form-group">
          <label for="body" class="form-label mt-4">Тип кузова</label>
          <input
            id="body"
            name="body"
            [(ngModel)]="car.body"
            [ngbTypeahead]="searchBody$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Тип кузова: {{ car.body }}</pre>
        </div>
        <div class="form-group">
          <label for="drive" class="form-label mt-4">Тип приводу</label>
          <input
            id="drive"
            name="drive"
            [(ngModel)]="car.drive"
            [ngbTypeahead]="searchDrive$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Тип приводу: {{ car.drive }}</pre>
        </div>
        <div class="form-group">
          <label for="transmission" class="form-label mt-4">Трансмісія</label>
          <input
            id="transmission"
            name="transmission"
            [(ngModel)]="car.transmission"
            [ngbTypeahead]="searchTransmission$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Тип приводу: {{ car.transmission }}</pre>
        </div>
        <div class="form-group">
          <label for="fuel" class="form-label mt-4">Тип палива</label>
          <input
            id="fuel"
            name="fuel"
            [(ngModel)]="car.fuel"
            [ngbTypeahead]="searchFuel$"
            [editable]="false"
            type="text"
            class="form-control"
          />
          <hr />
          <pre>Тип палива: {{ car.fuel }}</pre>
        </div>

        <div class="form-group">
          <label for="engine" class="form-label mt-4">Об'єм двигуна</label>
          <input
            #engine="ngModel"
            id="engine"
            name="engine"
            [(ngModel)]="car.engine"
            type="number"
            class="form-control"
            placeholder="Введіть об'єм двигуна (в літрах) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="engine.touched && engine.invalid"
        >
          <div *ngIf="engine.errors.required">
            Об'єм двигуна є обов'язковим.
          </div>
          <div *ngIf="engine.errors.min">
            Об'єм двигуна не може бути від'ємним.
          </div>
        </div>

        <div class="form-group">
          <label for="horsepower" class="form-label mt-4">Кінська сила</label>
          <input
            #horsepower="ngModel"
            id="horsepower"
            name="horsepower"
            [(ngModel)]="car.horsepower"
            type="number"
            class="form-control"
            placeholder="Введіть потужність (в кінських силах) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="horsepower.touched && horsepower.invalid"
        >
          <div *ngIf="horsepower.errors.required">
            Кінська сила є обов'язковою.
          </div>
          <div *ngIf="horsepower.errors.min">
            Кінська сила не може бути від'ємною.
          </div>
        </div>

        <div class="form-group">
          <label for="distance" class="form-label mt-4">Пробіг</label>
          <input
            #distance="ngModel"
            id="distance"
            name="distance"
            [(ngModel)]="car.distance"
            type="number"
            class="form-control"
            placeholder="Введіть пробіг (в тис. км) ..."
            [min]="0"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="distance.touched && distance.invalid"
        >
          <div *ngIf="distance.errors.required">Пробіг є обов'язковим.</div>
          <div *ngIf="distance.errors.min">Пробіг не може бути від'ємним.</div>
        </div>

        <div class="form-group">
          <label for="year" class="form-label mt-4">Рік випуску</label>
          <input
            #year="ngModel"
            id="year"
            name="year"
            [(ngModel)]="car.year"
            type="number"
            class="form-control"
            placeholder="Введіть потужність (в кінських силах) ..."
            [min]="0"
            required
          />
        </div>
        <div class="alert alert-danger" *ngIf="year.touched && year.invalid">
          <div *ngIf="year.errors.required">Рік випуску є обов'язковим.</div>
          <div *ngIf="year.errors.min">Рік не може бути від'ємним.</div>
        </div>
        <br />

        <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
          Встановити ціну
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sticky-top">
      <div class="text-center">
        <h2>Рекомендована ціна</h2>
        <h4 class="text-success">{{ price | currency }}</h4>
      </div>
    </div>
  </div>
</div>
